@import 'base';

$this: ".hero-banner";

#{$this} {
  margin-top: -70px;
  overflow: hidden;
  height: 700px;

  .slick-slide {
    &:active, &:focus {
      outline: none;
    }
  }

  ul.slick-dots {
    bottom: 35px;
    z-index: 3;


    li {
      background: white;
      opacity: 0.5;
      height: 5px;
      width: 100px;
      border-radius: 5px;

      &.slick-active {
        opacity: 1;
      }
    }
  }

  @include breakpoint(small only) {
    height: 500px;
  }
}
